.dashboard-container {
  @apply grid py-0 md:px-0;
  grid-template-columns:1fr;
  grid-template-areas:
    "one"
    "top";
  grid-gap: 20px;
}

.dashboard-container .chart {
  grid-area: one;
  overflow: hidden;
}

.dashboard-container .ringkasan {
  grid-area: top;
}

.chart-content {
  @apply relative px-5 mb-10;
}

@screen lg {
  .dashboard-container {
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "one top"
      "one center";
  }
}

