.sidebar {
  @apply absolute w-full h-full md:relative md:py-1 md:w-full shadow
    md:min-h-screen bg-opacity-100 bg-white md:bg-opacity-100
    md:bg-white overflow-hidden z-30;
  animation-name: opacityTransition;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.sidebar .sidebar-content {
  @apply fixed w-full;
}

/* logo & logo container */
.sidebar .sidebar-content .logo-container {
  @apply w-full flex items-center justify-between md:justify-center mt-5 md:mt-10 mb-10 px-6 md:px-0;
}
.sidebar-content .logo-container .logo {
  @apply font-bold text-xl md:text-lg;
}
.sidebar .sidebar-content .close-container {
  @apply block md:hidden focus:outline-none p-2 hover:bg-blue-50 rounded-full;
}
/* end of logo & logo container */

.sidebar .sidebar-link {
  @apply w-full px-10 md:px-0 flex h-16 items-center text-gray-800 hover:bg-blue-50;
}

.sidebar .icon {
  @apply mr-5 md:mr-0 lg:mr-4;
}
.sidebar .sidebar-text {
  @apply block md:hidden lg:block;
}

/* sidebar when active */
.sidebar .active {
  @apply border-r-4 bg-blue-50 border-blue-800;
}
.sidebar .active .icon {
  margin-left: unset;
}

/* end of sidebar when active */

@screen md {
  .sidebar {
    animation-name: unset;
    -webkit-animation-duration: unset;
    animation-duration: unset;
    -webkit-animation-fill-mode: unset;
    animation-fill-mode: unset;
  }

  .sidebar .sidebar-content {
    width: 70px;
  }

  .sidebar .sidebar-link {
    @apply justify-center;
  }

  .sidebar .active .icon {
    margin-left: 4px;
  }
}

@screen lg {
  .sidebar .sidebar-content {
    width: 200px;
  }

  .sidebar .sidebar-link {
    @apply px-6 justify-start;
  }
  .sidebar .active .icon {
    margin-left: unset;
  }
}

@keyframes opacityTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes opacityTransition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
